{% extends "main.html" %}
{% block content %}
{% if joined %}
<script>
    connectToRoom();
</script>
<style>
    .open-button {
  background-color: #555;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 23px;
  right: 28px;
  width: 280px;
}

/* The popup chat - hidden by default */
.chat-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

/* Add styles to the form container */
.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
}

/* Full-width textarea */
.form-container textarea {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
  resize: none;
  min-height: 200px;
}

/* When the textarea gets focus, do something */
.form-container textarea:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/send button */
.form-container .btn {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}
</style>
<button id="leaveBtn" class="btn btn-danger">Leave Meeting</button>
<button class="open-button" onclick="openForm()">Chat</button>

<div class="chat-popup" id="myForm">
  <form action="/action_page.php" class="form-container">
    <h1>Chat</h1>
    <div class="container border border-secondary" style="float: left; color: oldlace; background-color:indigo; height: 150px; overflow: auto;" id="chat">
    
    </div>
    <label for="msg"><b>Message</b></label>
    <textarea placeholder="Type message.." id="message"></textarea>
    <label for="file">
      <div class="input-group mb-3">
        <div class="custom-file">
            <input type="file" class="custom-file-input" style="display:inline-block;" id="inputGroupFile01" name="inputGroupFile01" multiple/>
            <label class="custom-file-label" for="inputGroupFile01">Select File</label>
        </div>
    </div>
    </label>
    <button type="button" id="sendBtn" class="btn">Send</button>
    <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
  </form>
</div>
<div id="container">
  <canvas id="canvasOutput" style="display: none;"></canvas>
  <video autoplay="true" id="videoElement" style="display: none;"></video>
</div>
<label class="checkbox-inline-lg"><input type="checkbox" id="start">Start Sharing</label>
<label class="checkbox-inline-lg"><input type="checkbox" checked="checked" id="stop" disabled>Stop Sharing</label><br />
<div class = 'video'>
  <img id="image">
</div>
<p>
    Meeting Id = {{meetingId}}
</p>
{% else %}
<div class="alert alert-info" role="alert">
    You have not joined any meeting. To join one click <a href="/joinmeeting" class="alert-link">here</a>.
</div>
{% endif %}
{% endblock %}